<form>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="lblNote">Notes</span>
    </div>
    <input class="form-control" type="text" name="txtNote" id="txtNote" aria-describedby="lblNote" [(ngModel)]="note.Note">
  </div>
  <button class="btn btn-primary" type="submit" name="btnAddNote" id="btnAddNote" (click)="btnAddNote_Click()">Add Note</button>
</form>

<table class="table table-light">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Note</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor = "let item of notes; let i = index" (click)="row_Click(item, i)" 
      [ngStyle] = "{color: i%2===0?'#000000':'#ffffff'}"
      [ngClass] = "{'whiterow' : i%2===0, 'blackrow': i%2 != 0}"
      >
        <td>{{i+1}}</td>
        <td>{{item.DateNote}}</td>
        <td>{{item.Note}}</td>
        
      </tr>
  </tbody>  
</table>
<div class="row" 
      *ngIf = "selectedNote != null"
      [ngStyle] = "{color: selectedrowindex%2===0?'#000000':'#ffffff'}"
      [ngClass] = "{'whiterow' : selectedrowindex%2===0, 'blackrow': selectedrowindex%2 != 0}">
    <div class="col">{{selectedrowindex + 1}}</div>  
    <div class="col">{{selectedNote.Note}}</div>
  </div>
